body{
  background-color: aquamarine;
}
h1{
  margin-left: 38%;
  font-size: 45px;
}
h2{
  margin-left: 32%;
  opacity: 0.7;
  font-style: italic;
}
main{
  background-color: rebeccapurple;
  width: 80%;
  height: 400px;
  margin-left: 11%;
}
.left, .middle, .right{
  width: 20%;
  height: 352px;
  background-color: darkorange;
  margin-left: 10%;
  margin-top: 2%;
  float: left;
}
/* Gives the images a fixed size so that they appear in the same dimensions */
img{
  width: 240px;
  height: 350px;
}
.tableContainer{
  width: 500px;
  height: 400px;
  margin-left: 32%;
}
